/* Fondo suave estilo McDonald's para el VBox */
.vbox {
    -fx-background-color: #ffebcd; /* Color mostaza suave */
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-border-color: #dcdcdc; /* Borde gris claro */
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
    -fx-font-family: 'Verdana', sans-serif;
}

/* Estilos para el TableView */
.table-view {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-border-color: #dcdcdc; /* Borde gris claro */
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-font-family: 'Verdana', sans-serif;
}

.table-column-header {
    -fx-background-color: #ffebcd; /* Fondo mostaza suave */
    -fx-text-fill: #333333; /* Texto gris oscuro */
    -fx-font-weight: bold;
    -fx-font-size: 14px; /* Ajustado a un tamaño más pequeño */
    -fx-padding: 10;
}

.table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 5px;
    -fx-font-size: 14px; /* Ajustado a un tamaño más pequeño */
    -fx-text-fill: #333333;
}

/* Estilos para las filas seleccionadas */
.table-row-cell:selected {
    -fx-background-color: #ffcc80; /* Color de selección, un naranja claro */
}

/* Estilos para los botones */
.button {
    -fx-background-color: #ffc72c; /* Amarillo McDonald's */
    -fx-text-fill: #ffffff; /* Texto blanco */
    -fx-font-size: 14px; /* Ajustado a un tamaño más pequeño */
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-cursor: pointer;
}

.button:hover {
    -fx-background-color: #ffb300; /* Amarillo más oscuro */
}

/* Estilos para HBox */
.hbox {
    -fx-spacing: 10;
    -fx-alignment: center;
}